scan_report.json
scan_report.html
scan_report_*.json
config_*.py
complaint_message_cache.json.bak
complaint_message_cache.json
gui_settings.json
.idea/*
__pycache__/*

# PyInstaller
build/
dist/
*.spec

core/__pycache__/*
models/__pycache__/*
utils/__pycache__/*
services/__pycache__/*
services/reporting/__pycache__/*
